body {
    background-color: white;
    color: black;
    font-family: "Inconsolata";
    margin: 0;
}

body a {
    color: #0029ff;
    text-decoration: underline;
    cursor: pointer;
}

body a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    font-family:"Kavivanar";
    margin-bottom: 60px;
}

#donate {
    all: inherit;
}

form #paypal {
    all: inherit;
}

#viewport {
}

#chat-container {
    display: table-cell;
    float: right;
    width: 40px;
}

#chat-button {
    height: 100%;
    width: 40px;
    background-image: linear-gradient(0.25turn, black, grey);
    float: right;
    
    /*display: inline-block;*/
    /*position: relative;*/
}

#chat-button .chat-button-content {
    font-family: "Inconsolata";
    font-size: 20px;
    color: yellowgreen;
    position: relative;
    top:50%;
    transform:rotate(270deg);
}

#chat-button.active {
    display: none;
}

#chat-menu {
    padding-top: 5px;
    color: yellow;
    display: none;
    width:30%;
    height: 25px;
    position: absolute;
    font-family: "Inconsolata";
    background-image: linear-gradient(black, #0029ff);

}

#chat-button:hover {
    background-image: linear-gradient(0.25turn,black, #0029ff);
    cursor:pointer;
}

#chat-menu:hover {
    cursor: pointer;
    /*background-image: linear-gradient(black, red);*/
}

#chat-menu-title {
    display: inline-block;
    font-size: 20px;
    padding-left: 5px;
}

#chat-menu-buttons {
    display: inline-block;
    float: right;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    padding-right: 3px;
    padding-left: 3px;
    color: #9bbdff;

}

#chat-menu-buttons a {
    color: #9bbdff;
}

.box {
  margin: 2px;
  background: transparent;
  float: right;
  border-radius: 0%;
}

.box1 { width: 200px; }
.box2 { width: 100px; }
.box3 { width: 20px; }

.pink-close-x {
  stroke: #ff7777;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}

.black-close-x {
  stroke: #000000;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}

#chat-menu-buttons:hover {
    background-color: red;
}

#chat-content {
    /*display: inline-block;*/
    /*position: relative;*/
    display: none;
    width:100%;
  /*   border: double 1px transparent;
    border-radius: 4px;
    background-image: linear-gradient(#0029ff, #0029ff), radial-gradient(circle at top left, #000,#a8adc3);
    background-origin: border-box;
    background-clip: content-box, border-box;*/
}

#content-warning {
    overflow: auto;
    display: none;
    background: rgba(225, 81, 101, 0.7);
    position: relative;
    top: -100px;
    text-align: left;
}

#content-warning-content {
    margin:10px;
    font-size: 20px;
    width: 50%;
    display: inline-block;
}

#content-warning-static-message {
    color: white;
}

#content-warning-button {
    float: left;
    display: inline-block;
    margin: 10px;
}

#content-warning-button:hover {
    background-color: red;
}

#submit-container {
    width: 100%;
    margin-top: 100px;
}

.submit-here {
    text-align: center;
    font-size: 30px;
    font-family: "Kavivanar";
    color: white;
    padding: 5px;
    margin-top: 80px;
    margin-bottom: 40px;
    position: relative;
    border: double 1px transparent;
    border-radius: 4px;
    background-image: linear-gradient(#0029ff, #0029ff), radial-gradient(circle at top left, #000,#a8adc3);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.submit-here a {
    color: inherit;
    text-decoration: none;
}


h3 {
    font-size: 21px;
    color: black;
}

pre {
    font-weight: bold;
}

.separator {
    width: 100%;
    text-align: center;
    font-size: 100px;
}

#container {
    width:100%;
}

#info {
    margin: 0;
    padding-left:20%;
    padding-right:20%; 
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

#info ul {
    list-style-type: none;
}

#info li {
    margin-bottom: 25px;
}

#info li h3 {
    margin-bottom: 5px;
}

img.ascii-art {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    margin-bottom: 40px;
}

img.big-centered-img {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

video {
    position: relative;
    display: block;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    width: 100%;
    height:100%;
}

video::-webkit-media-controls {
  display:none !important;
}

#player {
    width: auto;
    overflow: hidden;
    background: black;
    min-height: 100%;
    pointer-events: none;
    position: relative;
}

#fallback-area {
    position: absolute;
    z-index: 0;
    width: 100%;
    top: 50%;
}

.loader {
    position:absolute;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left:auto;
    width:30px;
    height: 30px;
    border: 6px solid #dddddd; 
    border-top: 6px solid #000000; 
    border-radius: 50%;
    color: blue;
    font-size: 20px;
    font-weight: bold;
    animation: spin 1s linear infinite;
}

#loading-message {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 90px;
    text-align: center;
}

.modal {
    display: block; /* Hidden by default */
    
    /*background-color: rgb(0,0,0); /* Fallback color */*/
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */*/
        /*background-image: linear-gradient(black, white), radial-gradient(circle at top left, #000,#a8adc3);*/
}

.modal#unmute-message {
    position: fixed; /* Stay in place */
    z-index: 9999999999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 300px; /* Full width */
    height: 300px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
    font-size: 20px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 5px;
    width: 80%; /* Could be more or less, depending on screen size */
    border: double 4px transparent;
    border-radius: 4px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #000,#a8adc3);
    background-origin: border-box;
    background-clip: content-box, border-box;
    opacity: 0.80;
    font-family: "Kavivanar";
}

.modal-content p {
    padding: 10px;
}

.modal-content:hover {
    /*border: double 4px transparent;
    border-radius: 4px;
    background-image: linear-gradient(white, black), radial-gradient(circle at top left, #000,#a8adc3);
    background-origin: border-box;
    background-clip: content-box, border-box;*/
    text-decoration: underline;
    opacity: 1.0;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#video-container {
  /*position: relative;*/
  /*padding-bottom: 56.25%;*/
  overflow: hidden;
}
        
#video-container iframe,
#video-container object,
#video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-container iframe#twitch-player {
    position: relative;
}

#iframe {
    z-index:10000;
}

/* YOUTUBE PLAYER STYLES */

.ytp-chrome-controls {
    display: none !important;
}

.controls {
    display: none;
}

#youtube-hider {
    width: 200px;
    height: 50px;
    background: black;
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
}


#watermark {
    opacity: 0.85;
    position: absolute;
    right: 15px;
    top: 10px;
    float: right;
    max-width: 10%;
    height: auto;
    z-index: 300000;
}

#watermark img {
    max-width: 100%;
    height: auto;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

#player-menu {
    margin-bottom: 70px;
    clear: both;
    text-align: center;
    top: 10px;
    border: double 4px transparent;
    border-radius: 4px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #000,#a8adc3);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#schedule-button {
    /*width: 100%;*/
    /*position: relative;*/
    text-align: center;
}

.menu-button {
    color: black;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
    border: double 4px transparent;
    border-radius: 4px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #000,#a8adc3);
    background-origin: border-box;
    background-clip: content-box, border-box;
   /* width: 85%;*/
    word-wrap: break-word;
}


.menu-button a {
    text-decoration: none;
    color: black;
}

.menu-button a:visited {
    color: inherit;
}

.menu-button:hover {
    text-decoration: underline;
    /*background-image: linear-gradient(#0033ff, #0049ff), radial-gradient(circle at top left, #000,#a8adc3);*/

}

#artist-info-button{
    
}

#artist-info-title {

}

#artist-info-author {

}

#artist-info-popup {
    display:none;
    width:500px;
    padding:10px;
    z-index: 10000;
    border-radius: 4px;
    position: absolute;
    background: inherit;
    left: 100px;
    bottom: 120px;
    text-align: left;
}

#artist-info-popup a {
    color: #0029ff;
    text-decoration: underline;
}

#artist-info-popup-container {
    padding: 10px;
}

#artist-info-popup-block-title {
    color: yellowgreen;
}

#artist-info-popup-title {
    color: red;
}

#artist-info-popup-author {
    color: #0029ff;
}

#mute {
    /*float: right;*/
    font-weight: bold;
}

#mute::after {
} 

#mute::before {
}

#artist-info-button .artist-info-popup {
    visibility: hidden;
    background-color: blue;
    color: red;
    z-index: 99999;
}

#artist-info-button:hover .artist-info-popup {
    visibility: visible;
}

#header-container {
    position: fixed;
    width:100%;
}

#header {
    /*background: linear-gradient(white,black) left bottom no-repeat;
    background-size: 100% 5px;*/
    top: 0;
    width:100%;
    background: white;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 25px;
    /*margin: 10px;*/
    color: black;
}

#header a#submit {
    color: yellowgreen;
}

#footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #bcb9b9;
}

.form-preamble {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 60px;
}

#submission-form textarea {
    margin: 0 auto;
    width: 60%;
    height: 300px;
    overflow: scroll;
}

#submission-form {
    text-align: center;
}

#submission-form .question {
    margin-bottom: 20px;
    width:100%;
}

#submission-form label {
    width: 100%;
    display:block;
    margin-bottom:10px;
}

#submission-form input[type=text] {
    width: 40%;
    height: 30px;
}

#submission-form #description {
    height: 70px;
}

input[type=submit] {
    min-width: 40%;
/*    font-size: 20px;
    background: #1df79d;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;*/
}

.legend {
    color:#ff0086;
    margin-bottom:20px;
}



#logo {
    position:relative;
}

.slogan {
    position: relative;
}

.highlight {
    color: #43c043;
    text-align: center;
}

#intro {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#schedule {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: separate;
    width:100%;
}

table#schedule-header {
    background: white;
    top: 30px;
    border: none;
    margin: 0 auto;
    width: 100%;
}

table#schedule-header tr {
    border: none;
}

table#schedule-header td {
    border: none;
}

.gradient-separator {
    height: 20px;
    width:100%;
    background: linear-gradient(black,#ffffff00);
}

table#schedule-table {
    text-align:center;
    padding-top: 100px;
}

td {
    border: 1px solid black;
}

a.day {
    color: black;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    font-family:"Kavivanar";
    margin-bottom: 60px;
}

a.day.active {
    color: red;
}

tr.block-row {
    border: 1px solid black;
    /*font-size: 20px;*/
}

td.block-start-time {

}

td.block-title {
    background: blue;
    color: white;
}

/*table.video-list tr:nth-child(even) {
    background: blue;
} */

td.video-start-time {
    font-size: 20px;
    width:20%;
}

td.video-start-time a.start-time-anchor {
    text-decoration-color: none;
    text-decoration: none;
    color: black;
    cursor: default;
}

td.video-title {
    padding-top: 15px;
    font-style: italic;
    font-size:20px;
    width:30%;
}

.video-author {
    font-style: normal;
    font-size: 13px;
}

#speakers-menu {
    width: 100%;
    height:100px;
    background:green;
    margin: 0 auto;

    
}

.speakers-button {
    position: relative;
    display: inline-block;
    width:20%;
}

.speakers-button:hover {
    cursor: pointer;
    background-color: red;
}

.speakers-button #webcam-start {

}

.speakers-button #record-start {

}

.speakers-button #record-stop {

}

.speakers-button #upload-video {

}


/* styles for '...' */ 
.three-line-expander {
    margin: 10px;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
 
}
/* create the ... */
.three-line-expander:after {
    z-index: 100;
    content: '...';
    position: absolute;
    bottom: 0px;
}


[class*="col-"] {
    width: 100%;
}

.col-3 {
    position: relative;
    width:100%;
    display: inline-block;
    margin: 0 auto;
}

.col-2 {
    display: inline-block;
}

.col-7 {
    width:100%;
    display:inline-block;
    margin: 0 auto;
}

@media only screen and (min-width: 790px) {
    /* For desktop: */
    .col-1 {width: 100%;}
    .col-2 {width: 48%;}
    .col-3 {width: 31%;}
    .col-4 {width: 24%;}
    .col-7 {width: 13%;}

    a.day {font-size:30px;}

}

@media only screen and (max-width: 669px) {
    /* For desktop: */
    a.day {font-size:20px;}

    #header {font-size:12px;}
 
}

@media only screen and (max-width: 542px) {
    /* For desktop: */
    a.day {font-size:17px;}
 
}

@media only screen and (max-width: 480px) {
    /* For desktop: */

    a.day {font-size:14px;}
 
}

@media only screen and (max-width: 375px) {
    /* For desktop: */

    a.day {font-size:12px;}
 
}



button#record-button {
    border: 1px solid green
    font-size: 200px;
}

#speakers-corner-container {
/*    position: absolute;
    top: 0;
    left: 0;*/
    /*height:100%;*/
    /*width:100%;*/
    padding-top: 50px;
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    background: black;
}

#webcam-container {
    position: relative;
    top: 0;
    left: 0;
    height:97%;
    width:100%;
    background: black;
}

#topic-scroller {
    margin-top:10px;
    position: relative;
    /*left: 300px;*/
    width: 640px;
    color: white;
}

.p5canvas {
    position: relative;
    margin-top: 10px;
    left: 0;
}

.controls-button {
    position: relative;
    background: black;
    color: white;
    font-family: "computomonospace";
    font-size: 30px;
    border: dashed white;
}


.controls-button:hover {
    background: yellowgreen;
    color: black;
}

.controls-button#record-button:hover {
    color: black;
    background: red;
}

.controls-button#upload-button:hover {
    color: black;
    background: pink;
}


.options-button {
    position: relative;
    background-color: purple;
    color: green;
    font-size: 30px;
}

#project-description {
    margin: 0 auto;
    display:block;
    width:90%;
    position: relative;
    top: 100px;
    color: white;
    background: black;
}

#speakers-corner-header {
    color: white;
    position: relative;
    width: 100%;
    z-index: 1000;
        font-family: "computomonospace";

}

#speakers-corner-title {
    float: left;
    font-family: "computomonospace";
    font-size: 40px;
    width: 70%;
}

#speakers-corner-subheading {
    font-size: 20px;
    width: 60%;
}

#logo {
    float:right;
    width:25%;
    right: 10;
    bottom: 30;
}

#playback-video {
    display: none;
    width: 640px;
    height: 480px;
}

